<header>Tiny App</header>

<% if (user) {%>
    <p>Logged in as: <%=user%></p>
    <a href="/logout">Logout</a>
    
   
  <% } else { %>

    <form method="POST" action="/logout">
      <%= user.id%><input type="submit" value="logout">
  </form>
    <a href="/register">Register</a>


<% } %>