<header>Tiny App</header>
<form action="/login" method="POST" style="margin:150px;">
    <label for="userName">Enter a Username:</label>
    <input id="userName" type="text" name="userName" placeholder="userName" style="width: 300px">
    <input type="submit" value="Submit"></form>