<header>Tiny App</header>

<% if (!user) { %>
  <a href="http://localhost:8080/login"><button>Login</button></a>
  <br>
  <br>
  <a href="http://localhost:8080/register"><button>Register New Account</button></a>
  <br>
  <br>
<% } else {%>
  Current User is:
  <%= user.email %>
      <form action="/logout" method="POST">
          <input type="submit" value="Logout" id="Logout">
      </form>
      <% } %>