<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Tiny App</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      </head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<header><% include ./partials/_header %></header>
<body>
       
       <ul>
        <% Object.keys(urls).forEach(function(url){ %>
           <li> <%= url %> - <%= urls[url].longURL %> <br> <form action="/urls/<%= url %>/delete" method="POST">
                <input type="submit" class="btn btn-primary" value ="Delete"> </form> <form action="/urls/<%=url%>" method="GET"><input type="submit" class = "btn btn-primary" value= "Edit"></form>
                <% }); %>
</li>
       
        
</ul>
        <form action="/urls/new"  method="GET" ><input type="submit" value="Get Tiny" class="btn btn-primary"></form>
</body>
</html>

