<!DOCTYPE html>
<html lang="en">
  
  <head> 
    <meta charset="UTF-8">
    <title>Tiny App</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     </head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<body>
    <% include ./partials/_header %>
   <br></br>
    <p> <h1> shortURL <%= shortURL %> </h1></p>
   <h2> <form action = "/urls/<%= shortURL %>/" method = "POST" style ="margin:150px;">
      <input name="longURL" id="longURL" type="text" size="25"  placeholder="<%= longURL %>" > <input id="longURL" type="submit" value = "update"> </form></h2>

</body>
</html>